@import url(./Assets/Style/default.css);
@import url(./Assets/Style/color.css);
@import url(./Assets/Style/header.css);

@font-face {
  font-family: Fira;
  src: url(../public/font/FiraCode-Light.ttf);
}




.bg-yellow {
  background-color: var(--color-yellow);
}

.bg-purple {
  background-color: var(--color-purple);
}