.App {
    margin: 2rem;
    padding: .3em 0px;
    background-color: var(--color-yellow);

}

.container {
    margin: auto;
    max-width: 85%;

}

.container #Heading {
    border-bottom: 2px solid dodgerblue;
    color: rgba(0, 0, 0, 0.884);
    text-align: center;

}