.chart_container {
    width: 450px;
    height: fit-content;
    color: lightseagreen;
    flex: 1;


}

.chart_item {
    width: 350px;
    height: fit-content;
}


.labels_conatiner {
    display: flex;
    justify-content: space-between;
    margin: 10px .5rem;
    border-radius: 1rem;
    padding: 0px .8rem .4rem;
}

.chart_box {
    position: relative;
    margin: auto;
}

.chart_box h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.chart_box h3 span {
    display: block;
    text-align: center;
    color: lightseagreen;
}

.label_title {
    display: flex;
}

.label_sideColor {
    margin-top: .2rem;
    width: 1rem;
    height: 1rem;
    border-radius: 14px;
}